@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 500px;
  width: 700px;
}

.img-container {
  display: flex;
  transition: transform 0.3s linear;
  transform: translateX(0);
}

img {
  object-fit: cover;
  height: 500px;
  width: 700px;
}
