@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: red;
  color: white;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  border: none;
  transition: transform 0.1s linear;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0;
  transform: translate(2px, 2px);
}
