@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url('universe.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10rem;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  margin-top: 5rem;
  font-weight: normal;
  font-size: 4rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.count-el {
  text-align: center;
}

.count-el span {
  font-size: 1.3rem;
}
