@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  font-family: inherit;
  background-color: rgb(133, 22, 2);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  border: none;
}

#container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.toast {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 2rem;
  margin: 1rem;
}
